@import "tailwindcss";

:root {
  --background: #F0FDF4;
  --foreground: #14532D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-DepartureMono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.shadow-primary{
  box-shadow: 0 8px 0px 0 #14532D;
}

.shadow-primary:hover{
  box-shadow: 0 16px 0px 0 #14532D;
}

.shadow-primary:active{
  box-shadow: 0 -4px 0px 0 #14532D;
}
